@charset "utf-8";

main, header,nav, aside, article, footer{
    
    border:1px solid black;
}

main{
    max-width:1500px;
    margin:auto;
    display:grid;
    grid-template-areas:
        "h h h h"
        "n a a as"
        "f f f f"
        ;
    
}



header{
    grid-area:h;
}
nav{
    grid-area:n;
}
article{
    grid-area:a;
}
aside{
    grid-area:as;
}
footer{
    grid-area:f;
}

header{
    background-color: orange;
    font-size: 20px;
}

nav {
    background-color: greenyellow;
    
}

article {
    padding: 10px;
}

section {
    margin: 15px;
    padding: 4px;
    background-color: bisque;
    
}

aside {
    background-color: lightseagreen;
    width: 350px;
    height: 500px;
    
}

footer {
    background-color: #FFDBAC;
}